@import url("https://fonts.googleapis.com/css?family=Dhurjati");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Lobster");

.landing {
    font-family: "Dhurjati", sans-serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 15%;
    padding: 0px 25px;
    /* left: 220px; */
}

.landing-home-section {
    background: #6f42c1;
}

.landing-month-section {
    background: coral;
}

.landing-stats-section {
    background: #0288d1;
}

.landing-savings-section {
    background: #72c341;
}

.landing-mobile-section {
    background: orange;
}

.landing-travel-section {
    background: #bfbd75;
}

.landing-home-section-title {
    padding: 20% 2%;
    font-size: 3.3em;
    line-height: 1.2em;
    color: #fafaf5;
    font-weight: 800;
    letter-spacing: -0.03em;
    font-style: normal;
    text-shadow: 1px 3px 3px rgba(255, 255, 255, 0.4);
}

.nopadding {
    padding: 10px !important;
    margin: 0 !important;
    padding-bottom: 15px !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    margin: 0;
}

.popup {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    margin: auto;
    background: white;
}

.popup_inner_loan {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15% !important;
    margin: auto;
    background: white;
}

.popup_inner_saving {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 8% !important;
    bottom: 2% !important;
    margin: auto;
    background: white;
}

.addExpenseHeader {
    display: block;
    padding: 15px;
    text-align: center;
    background: #616161;
    color: #ecf0f1;
}

.delete-btn {
    background: transparent;
    color: #ea8c8c;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.edit-btn {
    background: transparent;
    color: #ffa500;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.edit-btn-mobile,
.delete-mobile-btn {
    padding: 5px 25px;
}

.addexpense-btn {
    border-radius: 50px;
    border-color: #25221b66;
    cursor: pointer;
    outline: none !important;
}

.addloan-btn {
    border-radius: 50px;
    border-color: #25221b66;
    cursor: pointer;
    outline: none !important;
}

.card {
    margin-top: 15px;
    border-left: 10px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.card:hover {
    border-left: 10px solid rgba(0, 0, 0, 0.5) !important;
}

/* /* .card1 {
    background: #9a4c48 !important;
    color: #ddd !important;
} */

/* .card2 {
    background: #855b81 !important;
    color: #ddd !important;
}  */

/* .card3 { */
/* background: #50669b !important;
    background-image: url("./../images/trianglify3.png") !important;
    color: #ddd !important; */
/* } */

/* .card4 { */
/* background: #466d81 !important; */
/* color: #ddd !important; */
/* } */

/* .card5 {
    background: #4f517d !important;
    color: #ddd !important;
}

.card6 {
    background: #a66060 !important;
    color: #ddd !important;
}

.card7 {
    background: #47682c !important;
    color: #ddd !important;
}

.card8 {
    background: #8d7b76 !important;
    color: #ddd !important;
} */

.card .card-block .card-title {
    padding: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0 !important;
}

.card-title {
    /* color: #484842; */
    /* color: white;
    mix-blend-mode: difference; */
}

.card-text {
    /* color: #484842; */
    /* color: white;
    mix-blend-mode: difference; */
    padding: 10px 15px !important;
}

.card .card-block .card-text {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.expense-day {
    margin-left: 15px;
    color: orange;
}

.ttt:hover {
    border-left: 5px solid #d2c0a0 !important;
}

#addExpense,
#addLoan {
    position: fixed;
    bottom: 30px !important;
    right: 30px !important;
}

.loan-given-taken,
.loan-status-icon {
    float: right;
    font-size: 22px !important;
}

.loan-given,
.loan-settled {
    color: lightgreen;
}

.loan-taken {
    color: lightcoral;
}

.loan-pending {
    color: #ffb74d;
}

.loan-settled-row-bg {
    background-image: repeating-linear-gradient(145deg,
        transparent,
        transparent 1px,
        rgba(238, 238, 238, 0.298039) 3px,
        rgba(238, 238, 238, 0.298039) 5px);
}

/* Switch type radio button  */

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    /* padding: 40px; */
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    width: 50%;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #a5dc86;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

@media (max-width: 720px) {
    .form {
        margin: 15px !important;
        margin-left: 0px !important;
    }

    .mobileNoPadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .mobileNoMargin {
        margin: 0 !important;
    }

    .card-block {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card .card-block .card-text {
        padding: 18px;
        font-size: 27px;
        font-weight: bold;
        margin: 0;
    }

    .card-title {
        margin-bottom: auto !important;
    }

    /* .card-title {
        color: #484842;
        color: white;
        mix-blend-mode: difference;
    }

    .card-text {
        color: #484842;
        color: white;
        mix-blend-mode: difference;
        padding: 10px 15px !important;
    } */

    #addExpense,
    #addLoan {
        bottom: 20px;
        right: 30px;
    }

    .expense-day {
        margin: 0 auto;
        /* display: table; */
        margin-left: 15px;
    }

    .dropdown-menu {
        position: relative;
        float: none;
    }

    .landing {
        text-align: center;
        letter-spacing: 3px;
        position: fixed;
        top: 30vh;
        left: auto;
        display: none;
    }

    .popup_inner {
        width: 90vw;
        height: 80vh;
        overflow-y: scroll;
        right: 15px;
        left: 15px;
        top: 15px;
    }

    .switch-field label {
        width: 50%;
    }
}

@media (orientation: portrait) {
    .chart-container {
        min-height: 60vh;
    }
}

@media (orientation: landscape) {
    .chart-container {
        min-height: auto;
    }
}

nav {
    background-color: #f8f9fa;
    overflow: hidden;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #808080;
}

nav a:visited {
    color: #808080;
}

nav .navWide {
    display: none;
    margin: 0 auto;
}

nav .navWide .wideDiv {
    text-align: right;
}

nav .navWide .navbar-nav {
    position: absolute;
    top: 5px;
    left: 15px;
}

nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}

nav .navNarrow i {
    float: left;
    cursor: pointer;
    color: #000;
}

nav .navNarrow .narrowLinks {
    display: none;
}

nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 80% 8px 8px;
}

nav .navNarrow .navbar-nav {
    position: absolute;
    top: 13px;
    left: 55px;
}

.active {
    background: #f0b852;
    color: white !important;
    border-radius: 5px;
}

@media (min-width: 1023px) {
    nav .navWide {
        display: block;
    }

    nav .navNarrow {
        display: none;
    }
}

.inputNightMode {
    background: #2c2b2b !important;
    color: #a9a0a0 !important;
    border: 1px solid #9b8c8cc7 !important;
}

.inputDayMode {
    background: #fff;
    color: #495057;
}

/* Print Styles */

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .addexpense-btn,
    .addloan-btn,
    .export-print-bar {
        display: none;
    }

    table td[data-th="Edit"],
    table td[data-th="Delete"] {
        display: none;
    }

    .expense-table thead tr th:nth-child(6),
    .expense-table thead tr th:nth-child(7) {
        display: none;
    }

    .loan-table thead tr th:nth-child(8),
    .loan-table thead tr th:nth-child(9) {
        display: none;
    }
}

.month-name {
    display: inline-block;
}

.form-control:focus-within {
    outline: none;
}

/* icons color scheme */

i.fa.fa-gift {
    color: #927959 !important;
}

i.fa.fa-cutlery {
    color: #ff965d !important;
}

i.fa.fa-shopping-cart {
    color: #16b498 !important;
}

i.fa.fa-motorcycle {
    color: #ffcc78 !important;
}

i.fa.fa-get-pocket {
    color: #ff5473 !important;
}

i.fa.fa-film {
    color: #a08e78 !important;
}

i.fa.fa-shopping-bag {
    color: #8da685 !important;
}

i.fa.fa-plane {
    color: #3ea75e !important;
}

i.fa.fa-user-md {
    color: #ff1945 !important;
}

i.fa.fa-medkit {
    color: #00a3ea !important;
}

i.fa.fa-columns {
    color: #7e0332 !important;
}

i.fa.fa-circle-o {
    color: #872aef !important;
}

/* #leftArrowIcon {
    position: absolute;
    padding: 25px;
    border: 5px solid orange;
    top: 15px;
    left: 15px;
}

#rightArrowIcon {
    position: absolute;
    height: 90px;
    width: 45px;
    padding: 25px;
    border: 5px solid orange;
    top: 15px;
    right: 15px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
} */

.simple-slider__slider-outer {
    display: block;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 200px;
}

.simple-slider__slider-inner {
    display: block;
    position: absolute;
    transition: all 0.5s;
}

.simple-slider__slider-item {
    display: inline-block;
    width: auto;
    height: 200px;
    vertical-align: top;
}

/* Slider 2 */

* {
    box-sizing: border-box;
}

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: overlay;
    margin-top: -15px;

    border-radius: 5px;

    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* background: #eee; */
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides>div:target {
    transform: scale(0.8);
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.author-info a {
    color: white;
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
    .slider>a {
        display: none;
    }
}

.warning-color {
    color: #e04f4ff0;
    float: right;
}

.icon-size-monthly-warning {
    font-size: 1.5em !important;
}

.limitText {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: inherit;
    font-size: 15px;
    text-align: right;
    margin-bottom: 0 !important;
}

.success-color {
    color: green;
    float: right;
}

.totalRecords {
    float: right;
}

/* Bootstrap overrides */
.alert,
.form-control {
    border-radius: 0 !important;
}

.accordion {
    margin: 3em auto;
    max-width: 30em;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    /* margin-bottom: 1em; */
}

.title,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 0.001s ease;
}

.title {
    background: #fff;
    padding: 5px;
    display: block;
    color: #7a7572;
    font-weight: bold;
}

.title:after,
.title:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 12px;
    width: 2px;
    height: 0.75em;
    background-color: #7a7572;
    transition: all 0.2s;
}

.title:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: #343a40;
    color: #fff;
}

.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
}

.option label {
    margin-bottom: 0;
    border-bottom: 1px solid orange;
}

.toggle:checked+.title,
.toggle:checked+.title+.content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}

.toggle:checked+.title+.content {
    max-height: 500px;
}

.toggle:checked+.title:before {
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.mobile-row-header {
    padding: 0 10px;
}

.last-item {
    float: right;
    padding-right: 30px !important;
}

.truncate {
    width: 100px;
    /* fallback if needed */
    width: calc(100% - 73%);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: initial;
    text-overflow: ellipsis;
}