body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  margin: 0
}

html{
  max-height: 100vh
}

.NavigationBar{
  background:#A1887F;
  color: #ecf0f1 !important;
  /* float: right; */
  display: block
}
.NavigationBar ul{
  display: inline;
}

.NavigationBar ul li{
  list-style-type: none;
  display: inline-block;
  background: #616161;
  padding: 25px;
}

.NavigationBar ul li a{
  color: #ecf0f1
}