body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  margin: 0
}

html{
  max-height: 100vh
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 15%;
  margin: auto;
  background: white;
}

.addExpenseHeader{
  display: block;
  padding: 15px;
  text-align: center;
  background: #616161;
  color: #ecf0f1;
}

.delete-btn{
  background: #212529;
  color: #ea8c8c;
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.addexpense-btn{
  border-radius: 50px;
  border-color: #25221b66;
  outline: none !important;
}