@import url("https://fonts.googleapis.com/css?family=Dhurjati");
.landing {
    font-family: "Dhurjati", sans-serif;
    font-size: 40px;
    text-align: center;
    position: fixed;
    top: 250px;
    left: 220px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    margin: 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 15%;
    margin: auto;
    background: white;
}

.popup_inner_loan {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 9% !important;
    bottom: 12% !important;
    margin: auto;
    background: white;
}

.addExpenseHeader {
    display: block;
    padding: 15px;
    text-align: center;
    background: #616161;
    color: #ecf0f1;
}

.delete-btn {
    background: transparent;
    color: #ea8c8c;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.edit-btn {
    background: transparent;
    color: #ffa500;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.addexpense-btn {
    border-radius: 50px;
    border-color: #25221b66;
    cursor: pointer;
    outline: none !important;
}

.addloan-btn {
    border-radius: 50px;
    border-color: #25221b66;
    cursor: pointer;
    outline: none !important;
}

.card {
    margin-top: 15px;
    border-left: 10px solid rgba(0, 0, 0, 0.1) !important;
}

.card:hover {
    border-left: 10px solid rgba(0, 0, 0, 0.5) !important;
}

.card1 {
    background: #9a4c48 !important;
    color: #ddd !important;
}

.card2 {
    background: #855b81 !important;
    color: #ddd !important;
}

.card3 {
    background: #50669b !important;
    color: #ddd !important;
}

.card4 {
    background: #466d81 !important;
    color: #ddd !important;
}

.card .card-block .card-title {
    padding: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.card .card-block .card-text {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
}

.expense-day {
    margin-left: 15px;
    color: orange;
}

.ttt:hover {
    border-left: 5px solid #d2c0a0 !important;
}

#addExpense,
#addLoan {
    position: fixed;
    bottom: 30px !important;
    right: 30px !important;
}

.loan-given-taken,
.loan-status-icon {
    float: right;
    font-size: 22px !important;
}

.loan-given,
.loan-settled {
    color: lightgreen;
}

.loan-taken {
    color: lightcoral;
}

.loan-pending {
    color: #ffb74d;
}

.loan-settled-row-bg {
    background-image: repeating-linear-gradient(
        145deg,
        transparent,
        transparent 1px,
        rgba(238, 238, 238, 0.298039) 3px,
        rgba(238, 238, 238, 0.298039) 5px
    );
}

@media (max-width: 720px) {
    .form {
        margin: 15px !important;
    }
    #addExpense,
    #addLoan {
        bottom: 20px;
        right: 30px;
    }
    .expense-day {
        margin: 0 auto;
        /* display: table; */
        margin-left: 15px;
    }
    .dropdown-menu {
        position: relative;
        float: none;
    }
    .landing {
        text-align: center;
        letter-spacing: 3px;
        position: fixed;
        top: 30vh;
        left: auto;
    }
    .popup_inner {
        width: 90vw;
        height: 80vh;
        overflow-y: scroll;
        right: 15px;
        left: 15px;
        top: 15px;
    }
}

@media (orientation: portrait) {
    .chart-container {
        min-height: 60vh;
    }
}

@media (orientation: landscape) {
    .chart-container {
        min-height: auto;
    }
}

nav {
    background-color: #f8f9fa;
    overflow: hidden;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #808080;
}

nav a:visited {
    color: #808080;
}

nav .navWide {
    display: none;
    margin: 0 auto;
}

nav .navWide .wideDiv {
    text-align: right;
}

nav .navWide .navbar-nav {
    position: absolute;
    top: 5px;
    left: 15px;
}

nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}

nav .navNarrow i {
    float: left;
    cursor: pointer;
    color: #000;
}

nav .navNarrow .narrowLinks {
    display: none;
}

nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

nav .navNarrow .navbar-nav {
    position: absolute;
    top: 13px;
    left: 55px;
}

@media (min-width: 480px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}
