.rwd-table {
    margin: 0 0 1em 0;
    min-width: 300px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: 0.5em;
}

.rwd-table td:last-child {
    padding-bottom: 0.5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 767px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 767px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    padding: 0 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495e;
}

.rwd-table {
    background: #34495e;
    color: #fff;
    border-radius: 0;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 12px !important;
    }
}

@media (min-width: 260px) and (max-width: 767px) {
    .rwd-table tr {
        border-bottom: 5px solid #f0b852;
    }
    .rwd-table td {
        margin: 0.5em;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .rwd-table th,
    .rwd-table td {
        padding: 5px !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}

@media print {
    @page {
        size: A4 landscape;
    }

    body {
        background-color: #34495e;
        -webkit-print-color-adjust: exact;
    }
    * {
        color: auto;
        background: auto;
    }
    .rwd-table,
    table {
        color: #000;
        -webkit-print-color-adjust: exact;
    }
    .rwd-table th {
        color: #fff !important;
        letter-spacing: 2px;
        background: #2b3335 !important;
        border: 1px solid #232b2c !important;
    }
    .rwd-table tr td,
    table tr td {
        background-color: #232b2c !important;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
        border: 1px solid #2b3335 !important;
    }
}
