#addExpense{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#closePopup{
    position: absolute;
    right: 10px;
    top: 10px;
}

form {
    margin: 0;
    padding: 15px;
}

.success-msg{
    padding: 10px;
    color: #fff;
    border-radius: 2px;
}