@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
    box-sizing: border-box;
}

/* body {
  background-image: linear-gradient(to right, #034378, #2d4e68);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
} */

a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* .row {
    max-width: 900px;
    margin: 50px auto 0;
} */

/* .card-savings {
    float: left;
    padding: 15px;
    width: 100%;
    border-left: none !important;
} */

/* .card-savings:hover {
    border-left: none !important;
} */
.card-savings .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-savings .menu-content::before,
.card-savings .menu-content::after {
    content: "";
    display: table;
}

.card-savings .menu-content::after {
    clear: both;
}

.card-savings .menu-content li {
    display: inline-block;
}

.card-savings .menu-content a {
    color: #fff;
}

.card-savings .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: "Open Sans";
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.card-savings .wrapper {
    /* background-color: #fff; */
    min-height: 255px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card-savings .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.card-savings .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.card-savings .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
    min-height: 22vh;
}

.card-savings .author {
    font-size: 12px;
}

.card-savings .title {
    margin-top: 10px;
}

.card-savings .text {
    height: 70px;
    margin: 0;
}

.card-savings input[type="checkbox"] {
    display: none;
}

.card-savings input[type="checkbox"]:checked+.menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}

.img-card .wrapper {
     background: url(https://source.unsplash.com/1600x900/?nature) 20% 1% / cover no-repeat;
}

.img-card .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #77d7b9;
    color: #fff;
    padding: 0.8em;
}

.img-card .date span {
    display: block;
    text-align: center;
}

.img-card .date .day {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.img-card .date .month {
    text-transform: uppercase;
}

.img-card .date .month,
.img-card .date .year {
    font-size: 12px;
}

.img-card .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.img-card .title a {
    color: gray;
}

.img-card .menu-button {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, black 25%, transparent 25%) -50px 0, linear-gradient(315deg, black 25%, transparent 25%),
        linear-gradient(45deg, black 25%, transparent 25%);
    background-size: 2em 2em;
    background-color: #232323;
    height: 100%;
}

.img-card .menu-button button {
    width: 100%;
    /* border-bottom: 2px solid yellow; */
    padding: 16.5px 0;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid orange;
}

.card-savings form {
    margin: 0;
    padding: 0 !important;
    color: #000 !important;
}

/* .img-card .menu-button span {
    width: 5px;
    height: 5px;
    background-color: gray;
    color: gray;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.img-card .menu-button span::after,
.img-card .menu-button span::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
} */
/* .img-card .menu-button span::before {
    left: -10px;
}
.img-card .menu-button span::after {
    right: -10px;
} */
.img-card .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.img-card .menu-content li {
    width: 33.333333%;
    float: left;
    background-color: #77d7b9;
    height: 60px;
    position: relative;
}

.img-card .menu-content a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    font-size: 24px;
}

.img-card .menu-content span {
    top: -10px;
}

.img-card.card-savings {
    padding: 15px 0;
}

.moreToSaveMsg {
    position: relative;
    top: -24px;
    width: 87.3%;
    color: #fff;
    /* font-size: 25px; */
    margin-left: 72px;
    background: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 3px;
    text-shadow: 2px 3px 2px rgba(255, 255, 255, 0.5);
}

.moreToSaveMsg span {
    padding-left: 15px;
}

.smallButton {
    border-radius: 8px;
    cursor: pointer;
    border:none;
    font-size: 28px;
    line-height: 1px;
    width:35px;
    padding: 3px;
    margin: 0px 3px 0px 3px;
}

.save-btn {
    background: lightblue;
    color: white;
}

.edit-btn{
    background: orange;
    color: white;
}

.delete-btn{
    background: red;
    color: white;
}

@media (max-width: 720px) {
    .card-savings .wrapper {
        min-height: 435px;
    }

    .moreToSaveMsg {
        font-size: 23px;
    }

    #saving-card {
        padding: 0;
    }

    .newCard{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;
    }
}